/* 드래그 슬라이드 CSS */


/* 배너전체박스 */
.banbx {
    /*슬라이드부모*/
    position: relative;
    margin-top: 50px;
    /* 부모는? .page */
    /* top: 50%;
      transform: translateY(-50%); */
    /* 세로중앙! */
    left: 25vw;
    width: 50vw;
    aspect-ratio: 1/0.55;
    /* border: 2px solid red; */
    box-sizing: border-box;
  
    /* outline: 5px dotted blue; */
    /* 선택 및 드래그 방지 */
    user-select: none;
    -webkit-user-drag: none;
  
  }