@charset "utf-8";

/* 네비게이션 유형1 CSS - nav01.css */


html,
body,
h1 {
    margin: 0;
    padding: 0;
}
h1.tit {
    text-align: center;
    padding: 20px;
}

/* 전체body */
body{
    color: #fff;
    background: rgb(7 17 75) url(../images/nav1bg.png) no-repeat fixed center/cover;
}

/* ul,ol초기화 */
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 공통 a요소 */
a{
    color: #fff;
    text-decoration: none;
}

/* 공통 클래스 : 클리어 */
ul::after, ol::after,.clb{
    content: '';
    display: block;
    clear: both;
}

/* 중앙속박스 */
.inbox{
    max-width: 1650px;
    margin: 0 auto;
    outline: 2px dashed lime;
}

/* gnb메뉴 */
.gnb li{
    float: left;
    line-height: 78px;
    padding: 0px 32px;
}