@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/*********** 1. 웹폰트 : CDN ***********/
/* Cute Font, Jua, Audiowide 체 */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cute+Font&family=Jua&display=swap');
/* 
    font-family: 'Audiowide', cursive;
    font-family: 'Cute Font', cursive;
    font-family: 'Jua', sans-serif;
*/
/* 리셋 CSS */
@import url(./reset.css);

body{
    background-color: #000;
}
/********************************* 공사중 *********************************/
body *{
    /* outline:2px dashed yellow; */
}

/* 공통클래스 */
/* 파트공통 */
.part{
    width: 1200px;
    margin: 0 auto;
}

/********************************* 1.상단영역 *********************************/
.top-area{
    /* 부모자격-.gnb */
    position: relative;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
.tit{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    color: aquamarine;
    line-height: 80px;
    text-align: center;
}

/* 1-2. gnb메뉴 */
.gnb{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.gnb ul{
    display: flex;
    gap: 0 1.5rem;
    font-family: 'Jua', sans-serif;
    font-style: 2rem;
}
/********************************* 2.메인영역 *********************************/
.main-area{
    /* 스크린 부모자격줌 */
    position: relative;
    height: 788px;
    background: url(../images/bg.jpg) no-repeat;
}
.screen{
    /* 부모는 .main-area */
    position: absolute;
    width: 701px;
    height: 398px;
    background-color: #000;
    top: 135px;
    left: 256px;
}
/* 유튜브 아이프레임 */
.screen iframe#ifr{
    width: 100%;
    height: 100%;
    border: none;
}
/* 포스터 메뉴 */
.poster-menu{
    /* 한번에 메인영역 하단으로 위치이동 포지셔닝 */
    /* 부모는 .main-area */
    position: absolute;
    width: 65%;

    bottom: 5%;
    left: 50%;
    /* 가로방향 중앙이동 */
    transform: translateX(-50%);
    /* margin-left: 215px; */
}
/* 포스터 ul */
/* .poster-menu ul::after{
    content: '';
    display: block;
    clear: both;
} */

/* 포스터 리스트 */
.poster-menu ul{
    /* float: left; */
    display: flex;
    gap : 0 15px;
}
/* 리스트 사이간격 */
.poster-menu>ul>li{
    /* 부모자격 - 영화정보박스 */
    position: relative;
    overflow: hidden;
}

/* 포스터이미지 */
.poster-menu img{
    width: 100%;
    /* height: 170px; */
}

/* 영화정보박스 : 오버시 올라올 박스 */
.mv-info {
    position: absolute;
    /* 아래쪽에 나가있음 */
    top: 100%;
    width: 100%;
    height: 100%;

    color: white;
    text-align: center;

    transition: .3s ease-in-out;
}
/* 부모 li에 오버시 영화정보 박스 올라오기 */
.poster-menu>ul>li:hover .mv-info{
    top: 0;
}
/* 영화정보박스 하위 ol */
.mv-info ol{
    /* 플렉스박스
    -> 옆으로 흘러가지 않아도 구성요소의 흐름을 제어할 목적으로 줌 */
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    justify-content: center;
    /* 부모박스 채우기 */
    height: 100%;

    white-space: nowrap;
    font-size: 12px;
    line-height: 2.5;

    background-color: #0000008f;

}
/********************************* 3.하단영역 *********************************/
.footer-area{
    height: 100px;
}
