@charset "utf-8";
/* 태양계2D애니메이션 css - SolarSystem2D.html */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');
/* font-family: 'Big Shoulders Stencil Text', cursive; */

/************************************************ 

[ CSS에서 변수 사용하기 ]
  1. 변수 설정하기
    :root{
        --변수명1 : 값;
        --변수명2 : 값2;
    }

  2. 변수 호출하기
    var(--변수명)

  3. 변수는 언제 사용하나?
    - 같은 값이 여러부분에서 사용될 때.
    - 미디어 쿼리에서 변경이 필요한 경우 변수값만 변경하면 복잡한 값 변경이 불필요.
    - 전역적으로 지정된 색상/값 등 프로젝트 내의 공유되는 값을 변수로 설정함.

************************************************/

/* 변수 설정 */
:root{
    /* 태양크기 */
    --sun-size : 250px;
    /* 지구크기 */
    --earth-size : 80px;
    /* 지구거리 */
    --earth-trans-size : -250px;
}

/* 초기화 */
html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body{
    background: url(../images/space.jpg) no-repeat center/cover;
}

.tit{
    margin: 0;
    padding: 0;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #fff;
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
}

/* 공사중 */
body *{
    outline: 2px dashed yellow;
}
/* 태양계박스 */
#solar{
    /* 부모 보이는 화면 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: var(--sun-size);
    height: var(--sun-size); 
}

/* 태양박스 */
#sun{
    position: absolute;
    top: 0;
    left: 0;

    width: var(--sun-size);
    height: var(--sun-size);

    overflow: hidden;

    border-radius: 50%;
}
#sun img{
    width: 100%;
    height: 100%;

    /* 20초간 등속도로 영원히 왔다갔다함 */
    animation: flame-ani 20s linear infinite alternate;
}
/* 태양이 이글거리는 애니메이션 키프레임 */
@keyframes flame-ani {
    to{
        transform: scale(1.5);
    }
    
}
/* #sun:hover img{
    transform: scale(1.5);
} */


